@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Righteous|Walter+Turncoat&display=swap');
/* * {
  border: 1px solid salmon;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: cyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:3px dotted #ff0000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-family: 'Walter Turncoat', cursive;
  background-color: pink;
  color: purple;
}
.artist {
  font-family: 'Righteous', cursive;
  color: purple;
}
.btn {
  margin: 10px
}
h1 {
  font-family: 'Righteous', cursive;
  font-style: 3em;
  color: purple;
  text-shadow: 2px 2px #ff0000;
}
h3 {
  font-family: 'Righteous', cursive;
  color: purple;
  font-size: 2em;
}
.release {
  font-family: 'Lobster Two', cursive;
  color: cyan;
  text-shadow: 2px 2px #ff0000;
}
.new-records {
  border:3px dotted #ff0000;
}
.btn-danger {
  background-color: #ff0000;
}
.btn-warning {
  background-color: purple;
}
.records {
  border:2px inset cyan;
}
